@charset "UTF-8";

 
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-list-add:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e0bf'; } /* '' */
.icon-mail:before { content: '\e0eb'; } /* '' */
.icon-docs:before { content: '\e806'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-link-ext:before { content: '\e805'; } /* '' */
.icon-list-numbered:before { content: '\e808'; } /* '' */
.icon-doc-alt:before { content: '\f0f6'; } /* '' */
.icon-picture-1:before { content: '\e800'; } /* '' */
.icon-picture-2:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-user-1:before { content: '\e802'; } /* '' */
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-clock:before { content: '\e809'; } /* '' */